<div class="container res">
    <div class="text-center">
        <br>
        <p style="color:yellow;font-size:20px;">Stock Name - <%= name %></p>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Open</th>
              <th scope="col">Close</th>
              <th scope="col">Low</th>
              <th scope="col">High</th>
              <th scope="col">Volume</th>
            </tr>
        </thead>
        <tbody>

        <% stock.forEach(function (st) { %>
        <tr>
            <td> <%= st.date %>  </td>
            <td> <%= st.open %>  </td>
            <td> <%= st.close %>  </td>
            <td> <%= st.low %>  </td>
            <td> <%= st.high %>  </td>
            <td> <%= st.volume %>  </td>
        </tr>
        <% }) %>
        </tbody>
    </table>

</div>
